@charset "UTF-8";

/*
paleta de cores:
verde: #49a09d
lilas: #5f2c82
*/

*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    background-color: #ff0033 ;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    overflow: hidden;
   position: absolute;
   top: 50%;
   left: 50%;
   background-color: white;
   width: 250px;
   height: 510px;
   border-radius: 20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
   transition: width 0.2s, height 0.2s;
   transition-timing-function: ease;
   transform: translate(-50%, -50%);
}
section#login > div#imagem{
    display: block;
    background: url(https://i.pinimg.com/736x/5c/16/a6/5c16a6098f965c218099a8497fef376a.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario>h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario>p{
    font-size: 0.8em;
}

form>div.campo{
    background-color: #ff003300;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo> label{
    display: none;
}
div.campo>span{
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div.campo>input{
    font-size: 1em;
    height: 100%;
    width: calc(100% - 48px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

form>input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #7e0019;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
}

form>input[type=submit]:hover{
    background-color: #37000b;
    cursor: pointer;
}

form>a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    padding-top: 5px;
    margin-top: 5px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #7e0019;
    border-radius: 6px;
    color: #7e0019;
    text-decoration: none;
}
form>a.botao:hover{
    background-color: #ff486c;
}

form>a.botao>span{
    font-size: 0.8em;
}